[submodule "halflife"]
	path = halflife
	url = git://github.com/ValveSoftware/halflife
[submodule "udis86"]
	path = udis86
	url = git://github.com/vmt/udis86
[submodule "asmjit"]
	path = asmjit
	url = https://github.com/kobalicekp/asmjit.git
